*/data/contracts.dart linguist-generated=true
*/data/contracts.g.dart linguist-generated=true
*freezed.dart linguist-generated=true
*test.dart linguist-generated=true
*gen.dart linguist-generated=true
