mobile/*/data/contracts.dart linguist-generated=true
mobile/*/data/contracts.g.dart linguist-generated=true
mobile/*freezed.dart linguist-generated=true
mobile/*test.dart linguist-generated=true
mobile/*gen.dart linguist-generated=true
